<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>
        Admin Area this is the shared layout of admin pannel
    </h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
